Download.jpeg
Trimmer.jpeg
diode.jpeg
integrierte-schaltung.jpeg
integrierter-schaltkreis.jpeg
kondensator.jpeg
potentiometer.jpeg
transistor.jpeg
wiederstand-lichtempfindlich.jpeg
wiederstand-temperaturempfindlich.jpeg
Wichtigste elektrische Bauteile.odt
