Download.jpeg
Trimmer.jpeg
diode.jpeg
integrierte-schaltung.jpeg
integrierter-schaltkreis.jpeg
kondensator.jpeg
potentiometer.jpeg
transistor.jpeg
wiederstand-lichtempfindlich.jpeg
wiederstand-temperaturempfindlich.jpeg
Wichtigste elektrische Bauteile.odt
.
ac-generator.gif
ac:dc-generator.gif
dc-generator.gif
diode.gif
elektrokondensator.gif
fotoelement.gif
kondensator.gif
lampe.gif
leuchtdiode.gif
sicherung.gif
spannung.gif
spule.gif
transistor.gif
wiederstand.gif
schaltungen-lesen.odt
